<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Currency</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.amount %></td>
        <td><%= transaction.currency %></td>
        <td><%= transaction.country %></td>
        <td><%= link_to 'Show', user_transaction_path(@user, transaction) %></td>
        <td><%= link_to 'Edit', edit_user_transaction_path(@user, transaction) %></td>
        <td><%= link_to 'Destroy', [transaction.user, transaction], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_user_transaction_path(@user) %>
